        * {
            box-sizing: border-box;
        }

        header,
        footer {
            width: 100%;
            height: 50px;
            background-color: grey;
        }

        footer {
            clear: both;
        }

        #mainBody {
            display: flex;
            width: 100%;
            background-color: rgb(100, 225, 10);
        }

        body {
            background-color: rgb(3, 208, 249);
        }

        main,
        aside,
        article {
            border: 2px solid black;
            padding: 10px;
        }

        main {
            float: left;
            width: 80%;
            background-color: brown;
        }

        aside {
            float: left;
            width: 20%;
            background-color: cadetblue;
        }

        #rowOne {
            width: 100%;
            background-color: aliceblue;
        }

        #rowTwo {
            width: 100%;
            background-color: aquamarine;
        }

        article {
            float: left;
            width: 50%;
            background-color: rgb(112, 188, 255);
        }

        #cat1 {
            display: block;
            width: 80%;
            margin: auto;
        }

        h2,
        p {
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;
            width: 100%;
            background-color: black;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            padding: 15px;
            display: block;
        }

        nav ul li {
            float: left;
        }

        nav ul li a:hover {
            background-color: rgb(77, 77, 77);
            text-decoration: none;
            color: white;
            padding: 15px;
            display: block;
        }

        .box {
            margin-top: 100px;
            height: 50px;
            width: 50px;
            background-color: bisque;
        }

        header {

        }